li {
    list-style: none;
}

em.verb, em.noun, em.adjective {
    position: relative;
    font-weight: bold;
    
    &:focus {
        outline: none;
    }
}

em.verb:after {
    content: "verb";
    color: #AAA;
    font-size: 0.875em;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 100%;
    left: 0;
}

em.noun:after {
    content: "noun";
    color: #AAA;
    font-size: 0.875em;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 100%;
    left: 0;
}

em.adjective:after {
    content: "adjective";
    color: #AAA;
    font-size: 0.875em;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 100%;
    left: 0;
}